/*   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  */

h1 {
    display: inline-block;
    font-size: 50px;
}

.label {
    color: white;
    background-color: rgb(84, 212, 255);
    height: 30px;
    width: 90px;
    border-color: rgb(168, 168, 168);
    border-radius: 7px;
    border: none;
}

.label_two {
    color: grey;
    background-color: white;
    height: 30px;
    width: 90px;
    border-color: rgb(168, 168, 168);
    border-radius: 7px;
    border: 1px solid;
}

.title_list {
    font-size: 20px;
}

.list_label {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 5px;
}

.light_blue {
    background-color: rgb(84, 212, 255);
    border-radius: 10px;
}

li {
    margin-bottom: 15px;
    list-style: "\2BC6";
}

.marker_ok {
    list-style: "\2713";
}

.marker_no {
    list-style: "\2717";
}

.purple {
    background-color: purple;
    border-radius: 10px;
}

.green {
    background-color: rgb(113, 128, 28);
    border-radius: 10px;
}

.orange {
    background-color: orange;
    border-radius: 10px;
}

.water {
    background-color: rgb(0, 128, 85);
    border-radius: 10px;
}

.pink {
    background-color: pink;
    border-radius: 10px;
}